<div class="topbar center">
  <div class="card row">
    <div class="card-content row">
      <img class="card-content-img" src="https://placeimg.com/640/480/any" />
      <div class="card-content-info">
        <div class="row">
          <span class="nama" style="margin-bottom: 8px">Lidya Marselina</span>
          <img src="../../../assets/icons/info_24px.png" class="icon" />
        </div>
        <span class="cin">CIN : 000001234567890 Prioritas / K1</span>
        <span class="nrt">NRT PEP / DIK</span>
      </div>
    </div>
    <div class="card-desc">Rekomendasi</div>
  </div>
</div>

<div class="content">
  <div class="header">Registrasi e-Channel</div>
  <div class="sub-header">
    Pastikan produk yang dipilih dan isi data sesuai kebutuhan
  </div>

  <div class="center row">
    <div class="column-1">
      <div class="row">
        <div class="checkbox"></div>
        <span class="label-cbx-bca">m-BCA</span>
      </div>
      <div class="box">
        <div class="rdo-btn-container row">
          <div class="rdo-btn" name="rdoBtnA"></div>
          <span class="label-rdo-btn">Finansial</span>
          <div class="rdo-btn" name="rdoBtnA"></div>
          <span class="label-rdo-btn">Non-Finansial</span>
        </div>
        <div class="dropdown-container">
          <input type="text" class="dropdown" />
        </div>
        <div class="btn-box-container center">
          <div class="btn-no-hp">
            <div class="txt-btn txt-btn-hp">INPUT NO HP</div>
          </div>
          <div class="btn-validasi">
            <div class="txt-btn txt-btn-validasi">VALIDASI</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2">
      <div class="row">
        <div class="checkbox"></div>
        <span class="label-cbx-bca">Klik BCA Individu</span>
      </div>
      <div class="box">
        <div class="rdo-btn-container row">
          <div class="rdo-btn" name="rdoBtnB"></div>
          <span class="label-rdo-btn">Tanpa KeyBCA</span>
          <div class="rdo-btn" name="rdoBtnB"></div>
          <span class="label-rdo-btn">Dengan KeyBCA</span>
        </div>
        <div class="dropdown-container">
          <input type="text" class="dropdown" />
        </div>
        <div class="cbx-biaya-container row">
          <div class="cbx-biaya"></div>
          <div class="label-cbx-biaya">Bebas Biaya</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="flex flex-col items-center"> tailwind -->
  <div class="center">
    <div class="button-footer">
      <div class="txt-btn txt-btn-footer">LEWATI</div>
    </div>
  </div>
</div>
