.header {
  max-width: none;
  height: 176px;
  left: 0px;
  right: 0px;
  top: 52px;
  background: #f0f0f0;
}

.content {
  display: flex;
  flex-direction: column;
}

.judul {
  margin-top: 24px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #005cab;
}

.subjudul {
  margin-top: 4px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #555555;
}

.kolom {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kolom1 {
  margin-right: 22.5px;
}

.kolom2 {
  margin-left: 22.5px;
}

.checkbox {
  border: 2px solid #808080;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 14px;
}

.box {
  margin-top: 14px;
  width: 368px;
  height: 256px;

  background: #f0f0f0;
  border-radius: 8px;
}

.labelCheckbox {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #555555;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.button {
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 32px;
  width: 200px;
  height: 40px;
  background: #00b5f0;
  border-radius: 24px;
}

.txt-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
