<div class="header"></div>

<div class="content">
  <div class="judul">Registrasi e-Channel</div>

  <div class="subjudul">
    Pastikan produk yang dipilih dan isi data sesuai kebutuhan
  </div>

  <div class="kolom">
    <div class="kolom1">
      <input type="checkbox" class="checkbox" />
      <span class="labelCheckbox">m-BCA</span>
      <div class="box"></div>
    </div>
    <div class="kolom2">
      <input type="checkbox" class="checkbox" />
      <span class="labelCheckbox">Klik BCA Individu</span>
      <div class="box"></div>
    </div>
  </div>

  <!-- <div class="flex flex-col items-center"> -->
  <div class="btn-container">
    <div class="button">
      <div class="txt-button">LEWATI</div>
    </div>
  </div>
</div>
