<div class="grid justify-center content-center topbar">
  <div class="flex flex-row card rounded-lg p-3">
    <div class="flex flex-row pl-3 pt-3 card-content">
      <img
        class="card-content-img rounded-lg"
        src="https://placeimg.com/640/480/any"
      />
      <div class="flex flex-col ml-3 -mt-1">
        <div class="flex flex-row mb-2">
          <span class="font-semibold color-desc text-base"
            >Lidya Marselina</span
          >
          <img
            src="../../../assets/icons/info_24px.png"
            class="icon-info ml-3"
          />
        </div>
        <span class="txt-cin text-sm color-desc"
          >CIN : 000001234567890 Prioritas / K1</span
        >
        <span class="color-nrt font-bold text-sm mt-2">NRT PEP / DIK</span>
      </div>
    </div>
    <div class="color-desc ml-5 text-sm font-semibold">Rekomendasi</div>
  </div>
</div>
